.modal-booking {
    &.modal-lg {
        max-width: 1200px;
    }
}

.modal-booking-container {
    display: flex;
    flex-direction: column;
    .modal-booking-header {
        padding: 15px;
        display: flex;
        justify-content: space-between;

        .modal-booking-title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }

        .modal-booking-close {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .modal-booking-body {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 25px 15px 50px;
    }

    .modal-booking-footer {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        button {
            min-width: 60px;
            padding: 4px 8px;
            outline: none;
            border: none;
            font-size: 14px;
            border-radius: 5px;

            &.save-booking {
                background-color: blue;
                color: #fff;
            }

            &.cancle-booking {
                background-color: orange;
            }
        }
    }
}
