.doctor-schedule-container {
    .doctor-schedule-select {
        select {
            border: none;
            outline: none;
            border-bottom: 1px solid #888;
            padding: 6px;
            padding-left: 0;
            font-size: 18px;
            color: #337ab7;
            cursor: pointer;
        }
    }
    .doctor-schedule-date {
        .time-calendar {
            margin: 20px 0;

            i {
                font-size: 20px;
            }

            span {
                margin-left: 6px;
                text-transform: uppercase;
            }
        }

        .time-content {
            .time-list {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                button {
                    padding: 8px 10px;
                    font-size: 18px;
                    font-weight: 600;
                    border: 1px solid transparent;
                    outline: none;

                    border-radius: 5px;
                    background-color: #fff04b;

                    &:hover {
                        border: 1px solid #00c6d4;
                    }

                    &.btn-vi {
                        min-width: 132px;
                    }

                    &.btn-en {
                        min-width: 200px;
                    }
                }
            }

            .book-free {
                font-size: 18px;
                margin-top: 16px;
            }
        }
    }
}
