.verify-email-container {
    margin-top: 80px;

    .verify-email-status {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: red;
        padding-top: 60px;
    }
}
